:root {
    --font-family : 'Roboto', sans-serif;
}

.font-title {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
}

.font-title-1 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 800;
}

.font-title-2 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 800;
}

.font-title-3 {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
}

.font-body {
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;
}

.font-sub {
    font-family: var(--font-family);
    font-size: 9px;
    font-weight: 200;
}

